// Site Wrap
.site-inner,
.wrap {
  @include outer-container;
}

.site-inner {
  clear: both;
  padding-top: 40px;
}


// Content-sidebar
.content-sidebar {
  .content {
    @include fill-parent();

    @include media( $medium )  {
      @include span-columns(8);
    }
  }

  .sidebar-primary {
    @include fill-parent();

    @include media( $medium )  {
      @include span-columns(4);
      @include omega();
    }
  }
}


// Sidebar-Content
.sidebar-content {
  .sidebar-primary {
    @include fill-parent();
    background-color: red;

    @include media( $medium )  {
      @include span-columns(4);
      background-color: orange;
    }
  }

  .content {
    @include fill-parent();
    background-color: red;

    @include media( $medium )  {
      @include span-columns(8);
      @include omega();
      background-color: orange;
      float: right;
    }
  }
}


// Content-Sidebar-Sidebar
.content-sidebar-sidebar {
  .content-sidebar-wrap {
    @include span-columns(8);

    .content {
      @include span-columns(6 of 8);
    }

    .sidebar-primary {
      @include span-columns(2 of 8);
      @include omega();
    }
  }

  .sidebar-secondary {
    @include span-columns(4);
    @include omega();
  }
}

// Sidebar-Sidebar-Content
.sidebar-sidebar-content {
  .sidebar-secondary {
    @include span-columns(4);
  }

  .content-sidebar-wrap {
    @include span-columns(8);
    @include omega();
    float: right;

    .sidebar-primary {
      @include span-columns(2 of 8);
    }

    .content {
      @include span-columns(6 of 8);
      @include omega();
      float: right;
    }
  }
}

// Sidebar-Content-Sidebar
.sidebar-content-sidebar {
  .content-sidebar-wrap {
    @include span-columns(8);

    .sidebar-primary {
      @include span-columns(2 of 8);
    }

    .content {
      @include span-columns(6 of 8);
      @include omega();
      float: right;
    }
  }

  .sidebar-secondary {
    @include span-columns(4);
    @include omega();
  }
}

// Full-Width
.full-width-content {
  .content-sidebar-wrap {
    @include fill-parent();
  }
}
