.sidebar {
  font-size: 16px;

  // List Item
  li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  // Remove margin from last child
  .sidebar p:last-child,
  .sidebar ul > li:last-child {
    margin-bottom: 0;
  }

  // Sidebar Widget
  .widget {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 40px;

    @media only screen and (max-width: 800px) {
      padding: 0;
    }
  }

    // Widget Title
    .widget-title {
      a {
        color: #333;
      }
    }
}
