.nav-primary {
  background-color: #333;

  .genesis-nav-menu a {
    color: #fff;
  }

  .genesis-nav-menu .sub-menu a {
    color: #333;
  }

  .genesis-nav-menu a:hover,
  .genesis-nav-menu .current-menu-item > a,
  .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: #e5554e;
  }
}
